{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="form-group" method="POST">
        {{form.hidden_tag()}}

      <div class="form-group">
        {{form.BEGEOID.label(class="form-control-label")}}
        {{form.BEGEOID(class="form-control form-control-lg")}}
      </div>
      <div class="form-group">
        {{form.CAMPAIGN_DUE_DATE.label(class="form-control-label")}}
        {{form.CAMPAIGN_DUE_DATE(class="form-control form-control-lg")}}
      </div>

          <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">CAMPAIGN_TYPE</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="CAMPAIGN_TYPE" id="gridRadios1" value="REN" checked>
          <label class="form-check-label" for="gridRadios1">
            REN
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="CAMPAIGN_TYPE" id="gridRadios2" value="UA">
          <label class="form-check-label" for="gridRadios2">
            UA
          </label>
        </div>
         <div class="form-check">
          <input class="form-check-input" type="radio" name="CAMPAIGN_TYPE" id="gridRadios3" value="EXP" >
          <label class="form-check-label" for="gridRadios3">
            EXP
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="CAMPAIGN_TYPE" id="gridRadios4" value="SECURITY">
          <label class="form-check-label" for="gridRadios4">
            SECURITY
          </label>
        </div>
      </div>
    </div>
  </fieldset>
      <div class="form-group">
        {{form.CCOID.label(class="form-control-label")}}
        {{form.CCOID(class="form-control form-control-lg")}}
      </div>
                  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">DATA_SOURCE_TYPE</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="DATA_SOURCE_TYPE" id="gridRadios1" value="DTL" checked>
          <label class="form-check-label" for="gridRadios1">
            DTL
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="DATA_SOURCE_TYPE" id="gridRadios2" value="SECURITY API">
          <label class="form-check-label" for="gridRadios2">
            SECURITY API
          </label>
        </div>
      </div>
    </div>
  </fieldset>
      <div class="form-group">
        {{form.DEFAULT_DAYS_FUTURE.label(class="form-control-label")}}
        {{form.DEFAULT_DAYS_FUTURE(class="form-control form-control-lg")}}
      </div>
      <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>

    </form>
</div>


{% endblock %}


